.primary-color{
    background-color: #43654C;
}

.primary-color-text{
    color: #43654C;
}

.secondary-bg{
    background-color: #C0F2C0;
}

.third-bg{
    background-color: #f8f9fa;
}

.secondary-color{
    color: #043300;
}

.w-80{
    width: 80%;
}

.w-90{
    width: 90%;
}

.w-70{
    width: 70%;
}

.text-justify{
    text-align: justify;
}

.text-item-nav{
    color: black;
    text-decoration: none;
}

.text-item-nav:hover{
    color: #43654C !important;
}

.img-logo{
    max-height: 150px;
    width: auto;
}

.signin-logo-img{
    max-height: 50px;
    width: auto;
}

.signup-logo-img{
    max-height: 100px;
    width: auto;
}

.signin-image img{
    max-height: 70vh;
    width: auto;
}

.btn-custom:hover{
    background-color: #43654C !important;
    color: white;
}

.btn-custom2{
    background-color: #43654C !important;
    color: white;
}

.btn-custom2:hover{
    background-color: white !important;
    color: #43654C;
}

.about-us-image {
    box-shadow: 0 0 105px rgb(0, 70, 21);
}

.nav-link {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
    color: black;
    text-decoration: none;
}

.nav-link:hover::after, .nav-link.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: green;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.active::after {
    width: 100%;
}

.containerNav {
    display: flex;
    min-height: 100vh;
}

.sidebarNav {
    width: 80px;
    padding: 15px;
    border-right: 1px solid #c7c7c797;
}

.navbarNav {
    flex-grow: 1;
    padding: 0;
}

.navbar{
    border-bottom : 1px solid #c7c7c797;
}

.navbar-profile img {
    border-radius: 50%;
    object-fit: cover;
    width: 40px;
    height: 40px;
}