:root{
    --primary :#aee0c7;
    --bg : #65c394;
    --second : #aebde0;
    --third : #2a3630;
}

.navbar-nav{
    padding: 1 0 0 0;
    margin-top:-15px;
}
.navbar-logo{
    width:120px;
    height:120px;
}

.navbar-logo span{
    color: var(--primary);
}
